body {
    background-color: black;
    color: white;
    font-family: helvetica;
}

.container > * {
    border: 2px solid white;
    padding: 5rem;
}

.container:first-child {
    display: grid;
    justify-content: center;
}


